on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/puccinialin
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v3
      - run: uv build
      - name: Smoke Test
        run: |
          uv venv -p 3.9
          uv pip install dist/*.whl
          .venv/bin/puccinialize
      - run: uv publish
